<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" ng-app> <!--<![endif]-->
    <head><meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Luis Lauro{% endblock %}{% if app.environment == 'dev' %} | dev {% endif %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fuentes.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}?v=1">
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        {% if app.environment == 'prod' %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-44187248-1', 'luislauro.com');
            ga('send', 'pageview');

        </script>
         {% endif %} 
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class=chromeframe>Your browser is <em>ancient!</em> 
        <a href="http://browsehappy.com/">Upgrade to a different browser</a> or 
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        </p>
        <![endif]-->
        {% set locale = app.request.locale %}
        
        {% set route = app.request.get('_route') %}
        
        {% set homepage = "" %}
        {% set blog = "" %}
        {% set bio = "" %}
        {% set music = "" %}
        {% set gallery = "" %}
        
        {% if route == "homepage" %}
            {% set homepage = "class=active" %}
        {% elseif route == "blog" %}
            {% set blog = "class=active" %}
        {% elseif route == "music" %}
            {% set music = "class=active" %}
        {% elseif route == "biografia" %}
            {% set bio = "class=active" %}
         {% elseif route == "galeria" %}
            {% set gallery = "class=active" %}    
        {% endif %}
        
        <div class="container">
            <header>
                    <div class="logo">
                        <a href="{{path('homepage',{'_locale': locale })}}">
                            <img src="{{asset('images/keyarts/Menu/logomenu.png')}}" alt="">
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li><a {{homepage}} href="{{path('homepage',{'_locale': locale })}}">{% trans %}news{% endtrans %}</a></li>
                            <li><a {{bio}} href="{{path('biografia',{'_locale': locale })}}">{% trans %}bio{% endtrans %}</a></li>
                            <li><a {{music}} href="{{path('music',{'_locale': locale })}}">{% trans %}music{% endtrans %}</a></li>
                            <li><a {{gallery}} href="{{path('galeria',{'_locale': locale })}}">{% trans %}gallery{% endtrans %}</a></li>
                            <li><a {{blog}} href="{{path('blog',{'_locale': locale })}}">{% trans %}blog{% endtrans %}</a></li>
                            {% block signup %}
                            <!--li><a class="singup" href="#sigup">signup</a></li-->
                            {% endblock %}
                        </ul>
                    </nav>
                    <div id="lenguajes">
                        <span id="lenguaje-en">
                            <a href="{{path(route,{'_locale':'en'})}}" style="cursor: pointer;">
                                english
                            </a>
                        </span>
                        <span id="lenguaje-es">
                            <a href="{{path(route,{'_locale':'es'})}}" style="cursor: pointer;">
                                español  
                            </a>
                        </span>
                    </div>   
            </header>
            <section>
               <article id="encabezado">
                    <figure>
                        <img src="{{asset('images/keyarts/News/luislaurofotonueva.png')}}" alt="">
                    </figure>
                </article> 
                {% block body %}{% endblock %}
            </section>
            <div style="clear: both;"></div>
            {% block footer %}
            <footer>
                <div class="datos-footer">
                    2014 Luis Lauro all rights reserved.
                </div>
                <div class="datos-footer">
                    contacto info
                </div>
            </footer>
            {% endblock %}
        </div>
   {% block javascripts %}
    <script src="{{asset('js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>
   {% endblock %}
</body>
</html>
