{% extends "BackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'discos'} %}
{% endblock %}

{% block siderbar %}  
    {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': 'discos'} %}
{% endblock %}

{% block body -%}

{% if app.request.page is not defined %}
    {% set page=1 %}
{% else %}
    {% set page=app.request.page %}
{% endif %}

    <h1>Discos</h1>

<table class="table table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Disco</th>
                <th>Portada</th>
                <th>Slug</th>
                <th>Activa?</th>
                <th>Actualización</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('discos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.disco }}</td>
                <td><img src="{{ entity.webPath }}" style="max-width: 120px;" /></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.isActive | isActive | raw }}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('d/m/Y H:i') }}{% endif%}</td>
                <td>
                <ul class="nav">
                    <li>
                        <a class="btn btn-mini" href="{{ path('discos_show', { 'id': entity.id }) }}" title="Mostrar registro">
                            <i class="icon-eye-open"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('discos_edit', { 'id': entity.id }) }}" title="Editar registro">
                            <i class="icon-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('discos_up', { 'id': entity.id ,'page': page}) }}" title="Subir registro">
                            <i class="icon-hand-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('discos_down', { 'id': entity.id, 'page': page }) }}" title="Bajar registro">
                            <i class="icon-hand-down"></i>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="span4">    
            <ul class="btn-group">
                <li>
                    <a class="btn btn-primary" href="{{ path('discos_new') }}">
                        Nuevo disco
                    </a>
                </li>
            </ul>
        </div>
        <div class="span4">
            <div class="navigation"> {{ knp_pagination_render(pagination) }} </div>
        </div>   
    </div>
    {% endblock %}
