{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fancy/jquery.fancybox.css') }}?v=2.1.5" media="screen" />
    <link rel="stylesheet" href="{{ asset('/css/mediaelement/mediaelementplayer.min.css') }}"/>
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
    <article class="izquierda">
        <header>
            <h2>{% trans %}songs{% endtrans %}</h2>
        </header>   
        <ul class="lista-musica">
            {% for music in musica.galerias %}
                <li class="item">
                    <audio id="player-{{loop.index}}" src="{{music.webPath}}" type="audio/mp3" controls="controls">
                </li>   
            {% endfor %}
        </ul>
    </article>
    <article class="derecha">
        <section>
            <article>
                <header>
                    <h2>{% trans %}photos{% endtrans %}</h2>
                </header>
                <ul class="lista-galeria-privada">
                {% for galeria in galerias.galerias %}
                    {% if loop.index < 5 %}
                        <li class="item">
                            <a href="{{galeria.webPath}}" class="fancybox" >
                                <img src="{{galeria.webPath | apply_filter('galeria_privada')}}" alt="{{galeria.titulo}}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </article>
            <article>
                <header>
                    <h2>{% trans %}videos{% endtrans %}</h2>
                </header>
                <ul class="lista-galeria-videos">
                {% for video in videos.galerias %}
                    {% if loop.index < 5 %}
                        <li class="item">
                            <a href="{{path('reproducir_video',{id: video.id})}}" class="ifancybox">
                                <img src="{{video.thumbnailWebPath | apply_filter('galeria_privada')}}" alt="{{video.titulo}}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </article>
        </section>

    </article>
    <div style="clear: both;"></div>
    <article class="centrado">
        <header>
            <h2>{% trans %}bio{% endtrans %}</h2>
        </header>
        {% for registro in registros %}
            {{ registro.descripcion(locale) | raw  }}
        {% endfor %}
    </article>

{% endblock %}

{% block javascripts %}
    {{parent()}}
	<script src="{{asset('js/fancy/jquery.fancybox.js')}}?v=2.1.5"></script>
    <script src="{{asset('js/fancy/jquery.fancybox-media.js')}}?v=2.1.5"></script>
    <script>
        $(document).ready(function() {
            $("a.fancybox").fancybox();
            $("a.fancybox-media").fancybox({
                helpers: {
                    media: true
                },
                youtube: {
                    autoplay: 0
                }
            });
            $(".ifancybox").fancybox({
                'width' : '640px',
                'height' : '360px',
                'autoScale' : false,
                'transitionIn' : 'none',
                'transitionOut' : 'none',
                'type' : 'iframe'
            });
        });
    </script>
	<script src="{{asset('js/mediaelement/mediaelement-and-player.min.js')}}"></script>
	<script>
		$('audio').mediaelementplayer();
	</script>
{% endblock %}

{% block footer %}
    <footer>
        <div class="datos-footer">
            {% for config in configuraciones %}
                {% if config.slug == 'pie-pagina' %}
                    {{config.texto | raw }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="datos-footer">
            {% for config in configuraciones %}
                {% if config.slug == 'contacto-info' %}
                    {{config.texto | raw }}
                {% endif %}
            {% endfor %}
        </div>
    </footer>
{% endblock %}        
