{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/fancy/jquery.fancybox.css') }}?v=2.1.5" media="screen" />
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
<article class="izquierda">
    <header>
        <h2>{% trans %}songs{% endtrans %}</h2>
    </header>   
    <ul class="lista-musica">
    {% for music in musica.galerias %}
        <li class="item">
            <audio controls>
              <source src="{{music.webPath}}" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
        </li>
	{% else %}
		{% for indice in range(1,5)%}
			<li class="item">
				<div class="clase-{{indice}}">
					contenido con indice {{indice}}
				</div>
        	</li>
		{% endfor %}
    {% endfor %}
    </ul>
</article>
<article class="derecha">
    <header>
        <h2>{% trans %}photos{% endtrans %}</h2>
    </header>
    {% for galeria in galerias.galerias %}
        {% if loop.index < 5 %}
        <li class="item">
            <a href="{{galeria.webPath}}" class="fancybox" >
             <img src="{{galeria.thumbnailWebPath}}" alt="{{galeria.titulo}}">
            </a>
        </li>
        {% endif %}
	{% else %}
		{% for indice in range(1,4)%}
			<li class="item">
				<a href=""http://placehold.it/420x400"" class="fancybox" >
				 <img src=""http://placehold.it/120x100"" alt="photo-{{indice}}">
				</a>
			</li>
		{% endfor %}
    {% endfor %}
</article>
<article class="derecha">
    <header>
        <h2>{% trans %}videos{% endtrans %}</h2>
    </header>
    {% for video in videos.galerias %}
        {% if loop.index < 5 %}
        <li class="item">
            <a href="{{video.webPath}}" class="fancybox frame" >
             <img src="{{video.thumbnailWebPath}}" alt="{{video.titulo}}">
            </a>
        </li>
        {% endif %}
	{% else %}
		{% for indice in range(1,4)%}
			<li class="item">
				<a href="#" class="fancybox frame" >
				 <img src="http://placehold.it/220x200" alt="item-{{ indice }}">
				</a>
			</li>
		{% endfor %}
    {% endfor %}
</article>
</section>
<section>
<article class="centrado">
    <header>
        <h2>{% trans %}bio{% endtrans %}</h2>
    </header>
    {% for registro in registros %}
        {{ registro.descripcion(locale) | raw  }}
    {% endfor %}
</article>

{% endblock %}

{% block javascripts %}
  {{parent()}}
<script src="{{asset('js/fancy/jquery.fancybox.js')}}?v=2.1.5"></script>
<script src="{{asset('js/fancy/jquery.fancybox-media.js')}}?v=2.1.5"></script>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox();
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
    });
</script>
{% endblock %}

{% block footer %}
        <footer>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'pie-pagina' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'contacto-info' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </footer>
{% endblock %}        