{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
<link rel="stylesheet" href="{{asset('css/paginador.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/fancy/jquery.fancybox.css') }}?v=2.1.5" media="screen" />
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
<article>

</article>
{% endblock %}

{% block javascripts %}
  {{parent()}}

{% endblock %}

{% block footer %}
        <footer>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'pie-pagina' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'contacto-info' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </footer>
{% endblock %}        