{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/paginador.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fancy/jquery.fancybox.css') }}?v=2.1.5" media="screen" />
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
    <article>
        <div class="gamma-container gamma-loading" id="gamma-container">

            <ul class="gamma-gallery">
                <li>
                    <div data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/1.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/1.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/1.jpg" data-min-width="700"></div>
                        <div data-src="images/large/1.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/1.jpg" data-min-width="200"></div>
                        <div data-src="images/small/1.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/1.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/1.jpg" alt="img01"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img02" data-description="<h3>Becoming</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/2.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/2.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/2.jpg" data-min-width="700"></div>
                        <div data-src="images/large/2.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/2.jpg" data-min-width="200"></div>
                        <div data-src="images/small/2.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/2.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/2.jpg" alt="img02"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/3.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/3.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/3.jpg" data-min-width="700"></div>
                        <div data-src="images/large/3.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/3.jpg" data-min-width="200"></div>
                        <div data-src="images/small/3.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/3.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/3.jpg" alt="img03"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img04" data-description="<h3>Life</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/4.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/4.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/4.jpg" data-min-width="700"></div>
                        <div data-src="images/large/4.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/4.jpg" data-min-width="200"></div>
                        <div data-src="images/small/4.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/4.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/4.jpg" alt="img04"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img05" data-description="<h3>Beleaguer</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/5.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/5.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/5.jpg" data-min-width="700"></div>
                        <div data-src="images/large/5.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/5.jpg" data-min-width="200"></div>
                        <div data-src="images/small/5.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/5.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/5.jpg" alt="img05"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img06" data-description="<h3>Chatoyant</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/6.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/6.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/6.jpg" data-min-width="700"></div>
                        <div data-src="images/large/6.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/6.jpg" data-min-width="200"></div>
                        <div data-src="images/small/6.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/6.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/6.jpg" alt="img06"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img07" data-description="<h3>Denouement</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/7.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/7.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/7.jpg" data-min-width="700"></div>
                        <div data-src="images/large/7.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/7.jpg" data-min-width="200"></div>
                        <div data-src="images/small/7.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/7.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/7.jpg" alt="img07"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img08" data-description="<h3>Desuetude</h3>" data-max-width="1800" data-max-height="2399">
                        <div data-src="images/xxxlarge/8.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/8.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/8.jpg" data-min-width="700"></div>
                        <div data-src="images/large/8.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/8.jpg" data-min-width="200"></div>
                        <div data-src="images/small/8.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/8.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/8.jpg" alt="img08"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img09" data-description="<h3>Diaphanous</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/9.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/9.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/9.jpg" data-min-width="700"></div>
                        <div data-src="images/large/9.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/9.jpg" data-min-width="200"></div>
                        <div data-src="images/small/9.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/9.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/9.jpg" alt="img09"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img10" data-description="<h3>Desuetude</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/10.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/10.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/10.jpg" data-min-width="700"></div>
                        <div data-src="images/large/10.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/10.jpg" data-min-width="200"></div>
                        <div data-src="images/small/10.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/10.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/10.jpg" alt="img10"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img11" data-description="<h3>Languor</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/11.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/11.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/11.jpg" data-min-width="700"></div>
                        <div data-src="images/large/11.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/11.jpg" data-min-width="200"></div>
                        <div data-src="images/small/11.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/11.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/11.jpg" alt="img11"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img12" data-description="<h3>Inglenook</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/12.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/12.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/12.jpg" data-min-width="700"></div>
                        <div data-src="images/large/12.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/12.jpg" data-min-width="200"></div>
                        <div data-src="images/small/12.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/12.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/12.jpg" alt="img12"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img13" data-description="<h3>Forbearance</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/13.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/13.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/13.jpg" data-min-width="700"></div>
                        <div data-src="images/large/13.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/13.jpg" data-min-width="200"></div>
                        <div data-src="images/small/13.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/13.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/13.jpg" alt="img13"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img14" data-description="<h3>Penumbra</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/14.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/14.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/14.jpg" data-min-width="700"></div>
                        <div data-src="images/large/14.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/14.jpg" data-min-width="200"></div>
                        <div data-src="images/small/14.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/14.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/14.jpg" alt="img14"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img15" data-description="<h3>Mondegreen</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/15.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/15.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/15.jpg" data-min-width="700"></div>
                        <div data-src="images/large/15.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/15.jpg" data-min-width="200"></div>
                        <div data-src="images/small/15.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/15.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/15.jpg" alt="img15"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img16" data-description="<h3>Plethora</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/16.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/16.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/16.jpg" data-min-width="700"></div>
                        <div data-src="images/large/16.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/16.jpg" data-min-width="200"></div>
                        <div data-src="images/small/16.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/16.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/16.jpg" alt="img16"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img17" data-description="<h3>Onomatopoeia</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/17.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/17.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/17.jpg" data-min-width="700"></div>
                        <div data-src="images/large/17.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/17.jpg" data-min-width="200"></div>
                        <div data-src="images/small/17.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/17.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/17.jpg" alt="img17"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img18" data-description="<h3>Wafture</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/18.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/18.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/18.jpg" data-min-width="700"></div>
                        <div data-src="images/large/18.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/18.jpg" data-min-width="200"></div>
                        <div data-src="images/small/18.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/18.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/18.jpg" alt="img18"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img19" data-description="<h3>Cynosure</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/19.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/19.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/19.jpg" data-min-width="700"></div>
                        <div data-src="images/large/19.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/19.jpg" data-min-width="200"></div>
                        <div data-src="images/small/19.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/19.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/19.jpg" alt="img19"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img20" data-description="<h3>Epiphany</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/20.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/20.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/20.jpg" data-min-width="700"></div>
                        <div data-src="images/large/20.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/20.jpg" data-min-width="200"></div>
                        <div data-src="images/small/20.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/20.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/20.jpg" alt="img20"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img21" data-description="<h3>Felicity</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/21.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/21.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/21.jpg" data-min-width="700"></div>
                        <div data-src="images/large/21.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/21.jpg" data-min-width="200"></div>
                        <div data-src="images/small/21.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/21.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/21.jpg" alt="img21"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img22" data-description="<h3>Serenity</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/22.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/22.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/22.jpg" data-min-width="700"></div>
                        <div data-src="images/large/22.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/22.jpg" data-min-width="200"></div>
                        <div data-src="images/small/22.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/22.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/22.jpg" alt="img22"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img23" data-description="<h3>Furtive</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/23.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/23.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/23.jpg" data-min-width="700"></div>
                        <div data-src="images/large/23.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/23.jpg" data-min-width="200"></div>
                        <div data-src="images/small/23.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/23.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/23.jpg" alt="img23"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img24" data-description="<h3>Glamour</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/24.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/24.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/24.jpg" data-min-width="700"></div>
                        <div data-src="images/large/24.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/24.jpg" data-min-width="200"></div>
                        <div data-src="images/small/24.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/24.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/24.jpg" alt="img24"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img25" data-description="<h3>Inure</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/25.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/25.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/25.jpg" data-min-width="700"></div>
                        <div data-src="images/large/25.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/25.jpg" data-min-width="200"></div>
                        <div data-src="images/small/25.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/25.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/25.jpg" alt="img25"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img26" data-description="<h3>Labyrinthine</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/26.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/26.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/26.jpg" data-min-width="700"></div>
                        <div data-src="images/large/26.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/26.jpg" data-min-width="200"></div>
                        <div data-src="images/small/26.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/26.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/26.jpg" alt="img26"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img27" data-description="<h3>Lagoon</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/27.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/27.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/27.jpg" data-min-width="700"></div>
                        <div data-src="images/large/27.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/27.jpg" data-min-width="200"></div>
                        <div data-src="images/small/27.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/27.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/27.jpg" alt="img27"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img28" data-description="<h3>Desire</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/28.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/28.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/28.jpg" data-min-width="700"></div>
                        <div data-src="images/large/28.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/28.jpg" data-min-width="200"></div>
                        <div data-src="images/small/28.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/28.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/28.jpg" alt="img28"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img29" data-description="<h3>Leisure</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/29.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/29.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/29.jpg" data-min-width="700"></div>
                        <div data-src="images/large/29.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/29.jpg" data-min-width="200"></div>
                        <div data-src="images/small/29.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/29.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/29.jpg" alt="img29"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img30" data-description="<h3>Softness</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/30.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/30.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/30.jpg" data-min-width="700"></div>
                        <div data-src="images/large/30.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/30.jpg" data-min-width="200"></div>
                        <div data-src="images/small/30.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/30.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/30.jpg" alt="img30"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img31" data-description="<h3>Moiety</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/31.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/31.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/31.jpg" data-min-width="700"></div>
                        <div data-src="images/large/31.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/31.jpg" data-min-width="200"></div>
                        <div data-src="images/small/31.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/31.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/31.jpg" alt="img31"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img32" data-description="<h3>Nemesis</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/32.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/32.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/32.jpg" data-min-width="700"></div>
                        <div data-src="images/large/32.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/32.jpg" data-min-width="200"></div>
                        <div data-src="images/small/32.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/32.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/32.jpg" alt="img32"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img33" data-description="<h3>Panacea</h3>" data-max-width="1800" data-max-height="2400">
                        <div data-src="images/xxxlarge/33.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/33.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/33.jpg" data-min-width="700"></div>
                        <div data-src="images/large/33.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/33.jpg" data-min-width="200"></div>
                        <div data-src="images/small/33.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/33.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/33.jpg" alt="img33"/>
                        </noscript>
                    </div>
                </li>
                <li>
                    <div data-alt="img34" data-description="<h3>Scintilla</h3>" data-max-width="1800" data-max-height="1350">
                        <div data-src="images/xxxlarge/34.jpg" data-min-width="1300"></div>
                        <div data-src="images/xxlarge/34.jpg" data-min-width="1000"></div>
                        <div data-src="images/xlarge/34.jpg" data-min-width="700"></div>
                        <div data-src="images/large/34.jpg" data-min-width="300"></div>
                        <div data-src="images/medium/34.jpg" data-min-width="200"></div>
                        <div data-src="images/small/34.jpg" data-min-width="140"></div>
                        <div data-src="images/xsmall/34.jpg"></div>
                        <noscript>
                        <img src="images/xsmall/34.jpg" alt="img34"/>
                        </noscript>
                    </div>
                </li>
            </ul>

            <div class="gamma-overlay"></div>

            <div id="loadmore" class="loadmore">Example for loading more items...</div>

        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{parent()}}
		<script src="/js/jquery.masonry.min.js"></script>
		<script src="/js/jquery.history.js"></script>
		<script src="/js/js-url.min.js"></script>
		<script src="/js/jquerypp.custom.js"></script>
		<script src="/js/gamma.js"></script>
		<script type="text/javascript">
			
			$(function() {

				var GammaSettings = {
						// order is important!
						viewport : [ {
							width : 1200,
							columns : 5
						}, {
							width : 900,
							columns : 4
						}, {
							width : 500,
							columns : 3
						}, { 
							width : 320,
							columns : 2
						}, { 
							width : 0,
							columns : 2
						} ]
				};

				Gamma.init( GammaSettings, fncallback );


				// Example how to add more items (just a dummy):

				var page = 0,
					items = ['<li><div data-alt="img28" data-description="<h3>Desire</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/28.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/28.jpg" data-min-width="1000"></div><div data-src="images/xlarge/28.jpg" data-min-width="700"></div><div data-src="images/large/28.jpg" data-min-width="300"></div><div data-src="images/medium/28.jpg" data-min-width="200"></div><div data-src="images/small/28.jpg" data-min-width="140"></div><div data-src="images/xsmall/28.jpg"></div><noscript><img src="images/xsmall/28.jpg" alt="img28"/></noscript></div></li><li><div data-alt="img29" data-description="<h3>Leisure</h3>" data-max-width="1800" data-max-height="2400"><div data-src="images/xxxlarge/29.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/29.jpg" data-min-width="1000"></div><div data-src="images/xlarge/29.jpg" data-min-width="700"></div><div data-src="images/large/29.jpg" data-min-width="300"></div><div data-src="images/medium/29.jpg" data-min-width="200"></div><div data-src="images/small/29.jpg" data-min-width="140"></div><div data-src="images/xsmall/29.jpg"></div><noscript><img src="images/xsmall/29.jpg" alt="img29"/></noscript></div></li><li><div data-alt="img30" data-description="<h3>Softness</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/30.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/30.jpg" data-min-width="1000"></div><div data-src="images/xlarge/30.jpg" data-min-width="700"></div><div data-src="images/large/30.jpg" data-min-width="300"></div><div data-src="images/medium/30.jpg" data-min-width="200"></div><div data-src="images/small/30.jpg" data-min-width="140"></div><div data-src="images/xsmall/30.jpg"></div><noscript><img src="images/xsmall/30.jpg" alt="img30"/></noscript></div></li><li><div data-alt="img20" data-description="<h3>Epiphany</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/20.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/20.jpg" data-min-width="1000"></div><div data-src="images/xlarge/20.jpg" data-min-width="700"></div><div data-src="images/large/20.jpg" data-min-width="300"></div><div data-src="images/medium/20.jpg" data-min-width="200"></div><div data-src="images/small/20.jpg" data-min-width="140"></div><div data-src="images/xsmall/20.jpg"></div><noscript><img src="images/xsmall/20.jpg" alt="img20"/></noscript></div></li><li><div data-alt="img21" data-description="<h3>Felicity</h3>" data-max-width="1800" data-max-height="2400"><div data-src="images/xxxlarge/21.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/21.jpg" data-min-width="1000"></div><div data-src="images/xlarge/21.jpg" data-min-width="700"></div><div data-src="images/large/21.jpg" data-min-width="300"></div><div data-src="images/medium/21.jpg" data-min-width="200"></div><div data-src="images/small/21.jpg" data-min-width="140"></div><div data-src="images/xsmall/21.jpg"></div><noscript><img src="images/xsmall/21.jpg" alt="img21"/></noscript></div></li>']

				function fncallback() {

					$( '#loadmore' ).show().on( 'click', function() {

						++page;
						var newitems = items[page-1]
						if( page <= 1 ) {
							
							Gamma.add( $( newitems ) );

						}
						if( page === 1 ) {

							$( this ).remove();

						}

					} );

				}

			});

		</script>
{% endblock %}

{% block footer %}
    <footer>
        <div class="datos-footer">
            {% for config in configuraciones %}
                {% if config.slug == 'pie-pagina' %}
                    {{config.texto | raw }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="datos-footer">
            {% for config in configuraciones %}
                {% if config.slug == 'contacto-info' %}
                    {{config.texto | raw }}
                {% endif %}
            {% endfor %}
        </div>
    </footer>
{% endblock %}        