{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
<link rel="stylesheet" type="text/css" href="{{asset('css/paginador.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/fancy/jquery.fancybox.css') }}?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.modal.css') }}?v=2" />
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
<div class="cancionDelMes">
        <h3>{% trans %}SONG OF THE MONTH{% endtrans %}</h3>
        <p>{% trans %}DOWNLOAD THE FREE SONG OF THIS MONTH!{% endtrans %}</p>
        <p class="cancion">
            <span class="nombreCancion">
                {{cancionDelMes.configuracion}}
            </span> 
            <a class="btn btn-bg" href="{{path('cancion_del_mes')}}" target="_black">
                {% trans %}download{% endtrans %}
            </a>
        </p>
</div>
<article class="izquierda">
    <header>
        <h2>{% trans %}news{% endtrans %}</h2>
    </header>
    <ul class="lista-noticias">
	{% for noticia in pagination %}
            <li class="noticia">
                <div>
                    {% if noticia.archivo | length > 0 %}
                    <figure class="imagen-noticia">
                        {% if noticia.isImagen == true %}
                        <a href="{{noticia.webPath}}" class="fancybox" >
                        {% else %}
                        <a href="{{noticia.archivo}}" class="fancybox-media iframe">
                        {% endif %}   
                        <img src="{{noticia.thumbnailWebPath}}" alt="{{noticia.titulo(locale)}}">
                        </a>
                    </figure>
                    {% endif %} 
                    <h3 class="titulo-noticia">{{noticia.titulo(locale)}}</h3>
                    <time class="tiempo-noticia">{{noticia.createdAt | date('M y')}}</time>
                    <div class="contenido-noticia">
			{{noticia.descripcion(locale) | raw }}
                    </div>
                 </div>
             </li>
	{% endfor %}
     </ul>
        {% include 'FrontendBundle:Default:paginador.html.twig' with {'data':data,'locale':locale,'ruta':'homepage'} %}
        </article>
        <article class="derecha">
            <header>
                <h2>{% trans %}latest instangram{% endtrans %}</h2>
            </header>
            <figure class="imagen-instagram instagram">
                <img src="{{asset('images/keyarts/News/fotoinstagram.png')}}" alt="">
            </figure>
                
            {# render(controller("FrontendBundle:Default:instagramMedia",{'username': 'richpolis'})) #}
        </article>

        <article class="derecha">
            <header>
                <h2>{% trans %}twitter feed{% endtrans %}</h2>
            </header>
	{% render(controller("FrontendBundle:Default:lastTweets",{'username': 'luis_lauro'})) %}
        </article>

{% endblock %}
{% block javascripts %}
  {{parent()}}
<script src="{{asset('js/fancy/jquery.fancybox.js')}}?v=2.1.5"></script>
<script src="{{asset('js/fancy/jquery.fancybox-media.js')}}?v=2.1.5"></script>
<script src="{{asset('js/jquery.modal2.js')}}?v=1"></script>
<script>
    $(document).ready(function(){
        $("a.fancybox").fancybox();
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
        $.iniciarCircle();
        
        {% if enviarUsuarios > 0 %}
             setTimeout(function(){
                 $().dialogModalRS('{{path('frontend_form_usuarios')}}');
             },1000);
        {% endif %}
        
        $(".signup").on('click',function(e){
           e.preventDefault();
           $().dialogModalRS('{{path('frontend_form_usuarios')}}');
        });
        
    });
    jQuery.iniciarCircle=function(){
        $('ul.tweets-lista li:first-child').slideUp("slow",function(){
            $('ul.tweets-lista').append($(this).slideDown("fast"));
        });
        setTimeout(function(){
            $.iniciarCircle();
        },4000);
     }
</script>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            dataType: "jsonp",
            cache: false,
            url: "https://api.instagram.com/v1/users/35327525/media/recent/?access_token=35327525.7ff0c4c.e5d7cfaf8bdc4112a7a1ac6e5d3ee1d7",
            success: function(data) {
                for (var i = 0; i < 6; i++) {
                    //$(".instagram").append("<div class='instagram-placeholder'><a target='_blank' href='" + data.data[i].link +"'><img class='instagram-image' src='" + data.data[i].images.thumbnail.url +"' /></a></div>");
                    $(".instagram").html("<div class='instagram-placeholder'><a target='_blank' href='" + data.data[i].link +"'><img class='instagram-image' src='" + data.data[i].images.standard_resolution.url +"' /></a></div>");  
                    break;
                }   

            }
        });
    });
</script>
{% endblock %}

{# block signup %}
   {% for config in configuraciones %}
        {% if config.slug == 'signup' %}
        <li><a href="{{config.texto}}" target="_blank">signup</a></li>
        {% endif %}
   {% endfor %}
{% endblock #}        
        
{% block footer %}
        <footer>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'pie-pagina' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="datos-footer">
                {% for config in configuraciones %}
                    {% if config.slug == 'contacto-info' %}
                        {{config.texto | raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </footer>
{% endblock %}        