{% extends "BackendBundle::backend.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
<link rel="stylesheet" href="{{ asset('css/fileuploader.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    {{ form_javascript(form) }}
    <script src="{{ asset('js/fileuploader.js') }}" type="text/javascript"></script>
{% endblock %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'configuraciones'} %}
{% endblock %}

{% block siderbar %}  
    {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': 'configuraciones'} %}
{% endblock %}

{% block body %}
<h1>Nueva configuracion</h1>

{% if entity.tipoConfiguracion == 5 %}
    <div id="upload" style="margin: 30px 150px;"></div>
    Extenciones disponibles:   "mp3"
    <!--List Files-->
    <ul id="files" ></ul>
{% else %}    
<form id="formPrincipal" action="{{ path('configuraciones_create') }}?tipo={{entity.tipoConfiguracion}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.configuracion) }}
    {{ form_rest(form) }}
    <p style="margin-top: 10px;">
        <ul class="record_actions">
            <li style=" list-style: none; display: inline;">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </li>
            <li style=" list-style: none;  display: inline;">
                <a class="btn" href="{{ path('configuraciones') }}">
                    Regresar
                </a>
            </li>
        </ul>
    </p>
</form>
{% endif %}
    
{% endblock %}

{% block javascript_adicional %}
<script>
    function createUploader(){
    var uploader = new qq.FileUploader({
            element: document.getElementById('upload'),
            template: '{% include "BackendBundle:Default:templateUploader2.html.twig" %}',
            action: '{{ path('configuraciones_upload') }}',
            params: { },
            onComplete: function(id, file, responseJson){
                    debugger;
                    location.href=responseJson.urlEdit;
                },
            onSubmit: function(id, fileName){
                },
            onProgress: function(id, fileName){
                    $('#status').addClass("success");
                    $('#status').addClass("loading");
                }
            });

    }
    window.onload = createUploader;
</script>
{% endblock %}